<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.ai_platform.rss.infrastructure.persistence.dao.RssDao">
    <insert id="insertNewArticleTranslations" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO article_translations
            (article_create_date, title_en, title_zh, status, content_zh, content_en)
        VALUES
        <foreach collection="data" separator="," item="item">
            (
                #{item.articleCreateDate},
                #{item.titleEn},
                #{item.titleZh},
                #{item.status},
                #{item.contentZh},
                #{item.contentEn}
            )
        </foreach>
    </insert>
    
    <update id="queryUpdateArticleTranslation">
        UPDATE article_translations SET title_zh = #{item.articleTitleZh}, title_en = #{item.articleTitleEn},
                                        content_zh = #{item.articleContentZh}, content_en = #{item.articleContentEn},
                                        status = #{status}, reason = #{reason}
        <where>
            article_create_date = #{item.articleId}
        </where>
    </update>

    <update id="queryUpdateStatusByListData">
        UPDATE article_translations SET status = #{status}

        <where>
            article_create_date in
                <foreach collection="data" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
        </where>
    </update>

    <select id="getAfter" resultMap="rssFetchDataMap">
        SELECT entry.id, entry.title, entry.content, entry.attributes from admin_entry entry

        <where>
            <if test="timestamp != null">
                entry.id > #{timestamp}
            </if>

            <if test="articleDate != null">
                AND entry.date >= #{articleDate}
            </if>
        </where>

        order by entry.id
    </select>

    <select id="getNewsWithTranslationByStatus" resultMap="rssFetchDataMap">
        SELECT entry.id, entry.title, entry.content, a.status as translationStatusEnum, entry.attributes from admin_entry entry
            INNER JOIN public.article_translations a on entry.id = a.article_create_date

        <where>
            a.status = #{statusName}

            <if test="startTimestamp != null">
                AND entry.id >= #{startTimestamp}
            </if>
        </where>
    </select>

    <select id="queryArticlesBy" resultMap="rssFetchDataMap">
        select
            entry.id,
            entry.title,
            entry.author,
            entry.content,
            entry.link,
            entry.date,
            entry.tags,
            entry.attributes,
            aTranslations.content_zh as contentZh,
            aTranslations.title_zh as titleZh,
            aTranslations.content_en as cleanedContentEn,
            aTranslations.title_en as translationTitleEn,
            feed.name as feedName,
            feed.priority as feedPriority,
            feed.description as feedDescription,
            feed.url as feedUrl,
            feed.website as feedWebsite,
            entry.id_feed as feedId,
            aCategory.id as categoryId,
            aCategory.name as categoryName
        from admin_entry entry
        inner join article_translations aTranslations on aTranslations.article_create_date = entry.id and aTranslations.status = 'FINISH'
        left join admin_feed feed ON entry.id_feed = feed.id
        left join admin_category aCategory ON feed.category = aCategory.id

        <where>
            <if test="startTime != null">
                AND entry.date &gt;= #{startTime}
            </if>

            <if test="endTime != null">
                AND entry.date &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="queryArticlesByCategoryAndDate" resultMap="rssFetchDataMap">
        select
            entry.id,
            entry.title,
            entry.author,
            entry.content,
            entry.link,
            entry.date,
            entry.tags,
            entry.attributes,
            aTranslations.content_zh as contentZh,
            aTranslations.title_zh as titleZh,
            aTranslations.content_en as cleanedContentEn,
            feed.name as feedName,
            feed.priority as feedPriority,
            feed.description as feedDescription,
            feed.url as feedUrl,
            feed.website as feedWebsite,
            entry.id_feed as feedId,
            aCategory.id as categoryId,
            aCategory.name as categoryName
        from admin_entry entry
        left join article_translations aTranslations on aTranslations.article_create_date = entry.id
        left join admin_feed feed ON entry.id_feed = feed.id
        left join admin_category aCategory ON feed.category = aCategory.id
        where aCategory.id = #{categoryId}
        <if test="startTime != null">
            AND entry.date &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND entry.date &lt;= #{endTime}
        </if>
        order by entry.date desc
    </select>

    <select id="queryArticlesByCategoryAndDatePaginated" resultMap="rssFetchDataMap">
        select
            entry.id,
            aTranslations.title_en as title,
            entry.author,
            entry.content,
            aTranslations.content_en as cleanedContentEn,
            entry.link,
            entry.attributes,
            aTranslations.content_zh as contentZh,
            aTranslations.title_zh as titleZh,
            aCategory.id as categoryId
        from admin_entry entry
        left join article_translations aTranslations on aTranslations.article_create_date = entry.id
        left join admin_feed feed ON entry.id_feed = feed.id
        left join admin_category aCategory ON feed.category = aCategory.id
        where aCategory.id = #{categoryId}
        <if test="startTime != null">
            AND entry.date &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND entry.date &lt;= #{endTime}
        </if>
        order by entry.date desc
        limit #{limit} offset #{offset}
    </select>

    <select id="countArticlesByCategoryAndDate" resultType="int">
        select count(*)
        from admin_entry entry
        left join admin_feed feed ON entry.id_feed = feed.id
        left join admin_category aCategory ON feed.category = aCategory.id
        where aCategory.id = #{categoryId}
        <if test="startTime != null">
            AND entry.date &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND entry.date &lt;= #{endTime}
        </if>
    </select>

    <select id="queryArticlesByIds" resultMap="rssFetchDataMap">
        select
            entry.id,
            aTranslations.title_en as title,
            entry.author,
            entry.attributes,
            aTranslations.content_en as cleanedContentEn,
            entry.link,
            aTranslations.content_zh as contentZh,
            aTranslations.title_zh as titleZh,
            aCategory.id as categoryId
        from admin_entry entry
        left join article_translations aTranslations on aTranslations.article_create_date = entry.id
        left join admin_feed feed ON entry.id_feed = feed.id
        left join admin_category aCategory ON feed.category = aCategory.id
        where entry.id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <resultMap id="rssFetchDataMap" type="com.huawei.ai_platform.rss.infrastructure.persistence.entity.RssFetchData" autoMapping="true">
        <result column="attributes" property="attributes"
                typeHandler="com.huawei.ai_platform.config.batis.RssAttributeTypeHandler"/>
    </resultMap>

    <!--  After that ID we'll scan other news that is currently not in the article_translation_table  -->
    <select id="getMaxTranslatedTimestamp" resultType="long">
        SELECT MAX(entry.article_create_date) from article_translations entry
    </select>

    <update id="markAsReadNews" parameterType="arraylist">
        UPDATE admin_entry SET is_read=1

        <where>
            <if test="news != null">
                id in (
                    <foreach collection="news" item="item" separator=",">
                        #{item}
                    </foreach>
                )
            </if>
        </where>
    </update>
</mapper>
